<% layout('layouts/BaseLayout') %>

<div class="form-wrapper">
  <div class="form-card">
    <h3 class="form-title">Add Learning Progress</h3>
    <p class="form-subtitle">
      Track what you are currently learning in this group
    </p>

    <form action="/groups/<%= group._id %>/progress" method="POST">

      <div class="mb-3">
        <label class="form-label">Topic</label>
        <input
          name="progress[topic]"
          class="form-control"
          placeholder="Eg: Data Structures"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Resource</label>
        <input
          name="progress[resource]"
          class="form-control"
          placeholder="Eg: Striver DSA Sheet"
          required
        />
      </div>

      <div class="row">
        <div class="col mb-3">
          <label class="form-label">Completed Units</label>
          <input
            type="number"
            name="progress[completedUnits]"
            class="form-control"
            min="0"
            required
          />
        </div>

        <div class="col mb-3">
          <label class="form-label">Total Units</label>
          <input
            type="number"
            name="progress[totalUnits]"
            class="form-control"
            min="1"
            required
          />
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Deadline</label>
        <input
          type="date"
          name="progress[deadline]"
          class="form-control"
          required
        />
      </div>

      <button class="btn btn-success w-100">
        Add Progress
      </button>
    </form>
  </div>
</div>