<footer class="border-top mt-5">
    <div class="f-info">
        <div class="footer-links display-6">
            <a href="https://github.com/GaneshVamsi72" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
            </a>
            •
            <a href="https://www.linkedin.com/in/sri-ganesh-vamsi-tummalapalli-81a3412b9?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            •
            <a href="mailto:ganeshvamsi0@gmail.com">
                <i class="fa-regular fa-envelope"></i>
            </a>
        </div>

        <div class="footer-links mt-2">
            <a
                href="mailto:ganeshvamsi0@gmail.com?subject=Bug%20Report%20-%20Learning%20Circle&body=Please%20Describe%20the%20Bug:%0A%0AExpected%20behavior:%0A">Report a Bug</a>
            •
            <a href="mailto:ganeshvamsi0@gmail.com?subject=Suggestion%20-%20Learning%20Circle">Suggestions</a>
        </div>

        <div class="f-info-brand mt-2">© <%= new Date().getFullYear() %> Learning Circle — All Rights Reserved.</div>
    </div>
</footer>